.info{
  padding: 0 3vw;
  margin-top: 60px;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info img + div{
  margin-left: 2vw;
}

.info div + img{
  margin-left: 2vw;
}

.info img{
  max-width: 650px;
}
.info .text-box{
  position: relative;
  max-width: 490px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info .text-box h2{
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 5.6rem;
}

.info .text-box hr{
  margin: 25px 0 30px 0;
  width: 56px;
  border-top: 2px solid #000;
  border-radius: 10px;
}

.info .text-box p{
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #7D7978;
}

.info .text-box a{
  margin-top: 37px;
}

.info .text-box a span{
  font-size: 20px;
  font-weight: bolder;
  margin-left: 14px;
}

@media(max-width: 1100px){
  .info img{
    width: 600px;
  }
}
@media(max-width: 1060px){
  .info img{
    width: 500px;
  }
  .info .text-box a{
    margin-top: 25px;
  }
}
@media(max-width: 900px){
  .info img{
    width: 450px;
  }
  .info .text-box hr{
    margin: 15px 0 20px 0;
  }
  .info .text-box a{
    margin-top: 20px;
  }
}
@media(max-width: 800px){
  .info img{
    width: 400px;
  }
  .info .text-box hr{
    margin: 12px 0 17px 0;
  }
  .info .text-box a{
    margin-top: 17px;
  }
}
@media(max-width: 750px){
  .info img{
    width: 360px;
  }
}
@media(max-width: 700px){
  .info img{
    width: 360px;
  }
}
@media(max-width: 680px){
  .info{
    flex-direction: column;
  }
  #info-2{
    flex-direction: column-reverse;
  }
}
@media(max-width: 400px){
  .info img{
    width: 300px;
  }
}
