@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

html{
  font-size: 62.5%;
  line-height: 62.5%;
  font-family: 'Mulish', sans-serif;
  background-color: #fafafb;
}
